<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("index","home", new { area ="backoffice" })">
            <i class="fas fa-fw fa-wine-glass-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("index","article", new { area ="backoffice" })">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Article</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("index","user", new { area ="backoffice" })">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>User</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("index","report", new { area ="backoffice" })">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Report</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("index","setting", new { area ="backoffice" })">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>Setting</span>
        </a>
    </li>
</ul>