<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>W.Pressford</title>

    <environment include="Development">
        <link href="~/lib/jquery/dist/jquery-ui.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body id="page-top">

    @Html.Partial("_Header")

    <div id="wrapper">

        <ul class="sidebar navbar-nav">
            @Html.Partial("_Menu")
        </ul>

        <div id="content-wrapper">
            @RenderBody()

            @Html.Partial("_Footer")
        </div>

    </div>
   
    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/dist/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/chart/chart.js"></script>

        <script src="~/js/chart-area.js"></script>
        <script src="~/js/backend.js" type="text/javascript"></script>
        <script src="~/js/site.js" type="text/javascript"></script>

    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>
