@model IEnumerable<DMSC.Assessment.Backend.Models.ArticleModel>
@{
    ViewData["Title"] = "NEWS ARTICLES";
}

<div class="container-fluid">

    <div class="row mb-2">
        <div class="col-lg-9">

        </div>
        <div class="col-lg-3">
            <a  asp-action="create" asp-controller="article" class="btn btn-primary float-r" role="button">Create</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Id#</th>
                    <th>Published </th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Active</th>
                    <th>Likes</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var article in Model)
                {
                    <tr id="@article.Id">
                        <td>@article.Id</td>
                        <td>@article.Published.ToShortDateString()</td>
                        <td>@article.Author</td>
                        <td>@article.Title</td>
                        <td>@article.Active</td>
                        <td>@article.Likes</td>
                        <td class="center"><a class="btn btn-success mr-2"  asp-action="edit" asp-controller="article" asp-route-id="@article.Id" role="button">Edit</a><a class="btn btn-info delete" href="javascript:void(0)" role="button" data-articleId="@article.Id">Delete</a></td>

                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="hide">
        <span id="deleteUrl" name="deleteUrl" data-deleteUrl="@Url.Action("delete","article")"></span>       
    </div>
   
</div>

